.navbar{
    width: 100%;
    color: white;
    font-size:15px;
    position: fixed;
    top: 0px;
    z-index: 999;
    background: linear-gradient(to top,transparent 0%, rgb(0,0,0,0.3) 50%);

    &.scrolled{
        background-color: var(--main-color);
    }

    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:70px;

        .left {
            display: flex;
            align-items: center;
            img{
                height:135px;
                margin-right: 40px;

            }

            ul{
                display: flex;
                color: red;
                font-weight: 500px; 
        
            li{
                list-style: none;
                margin-right:20px;
                // color: red;
                // font-weight: 500px;
                cursor: pointer;

              }
            }
        }
          
        .right{
            display: flex;
            align-items: center;
            margin-left: 450px;

            icons{
                margin: 0px 15px;
                cursor: pointer;
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }
            .profile{
                .options{
                    display: none;
                    background-color: var(--main-color);
                    border-radius: 5px;
                }

                span{
                    padding: 10px;
                    cursor: pointer;
                }
            }
            &:hover{
                .options{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                }
            }
        }
    }
}